/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* import font */

:root {
  --blackText: #172b4d;
  --white: #fff;
  --black: #36383f;
  --gray: #f4f5f7;
  --blue: #6070ff;
  --purple: #7f8cff;
}

.purpleColor {
  color: var(--purple);
}

.blackTextColor {
  color: var(--blackText);
}

.fullPic {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(207, 154, 56);
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--gray);
  font-family: "Poppins", sans-serif;
  color: #344563;
  font-size: 12pt;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: var(--white);
  box-shadow: 1px 1px 5px 0 var(--gray);
  position: sticky;
  top: 0;
  width: 100%;
}

/* Logo */
.logo {
  display: inline-block;
  color: var(--blue);
  font-size: 60px;
  margin-left: 10px;
}

.logo img {
  width: 70px;
  margin-top: 10px;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--blue);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.menu a {
  display: block;
  padding: 30px;
  color: var(--white);
  font-size: 2em;
}

.menu a:hover {
  background-color: var(--white);
  color: var(--blue);
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

/* Style label tag */

.hamb-line {
  background: var(--blue);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--blue);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

section {
  padding: 0;
  height: 100%;
}

.grid {
  display: grid;
  grid-gap: 10px;
  height: 90%;
  grid-auto-rows: 95%;
}

.col ul li,
.link-connect ul li {
  display: inline;
  margin: 5px;
}

.bgImage {
  background-image: url(./images/imgbg-mobile.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 45px;
}

.right-top-radius {
  border-top-right-radius: 70px;
}

.left-bottom-radius {
  border-bottom-left-radius: 70px;
  background-color: #fff;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0 10px 0;
}

.tag {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.infos {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 10px;
}

.infos span {
  color: #344563;
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  height: 48px;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn:hover {
  color: #fff;
  background: #6070ff;
}

.btn:active {
  color: #fff;
  background: #2230d2;
}

.disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
  cursor: not-allowed;
}

.project {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  background-color: var(--white);
}

.item {
  width: 85%;
  margin: auto;
  margin-top: 15%;
  border-radius: 15px;
}

.border {
  border: 1px solid silver;
}

.btncollapseT,
.btncollapse {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  width: 100%;
  text-align: left;
  background-color: white;
  border: 0;
  border-bottom: 1px solid silver;
  padding: 15px 10px 15px 0;
}

.btncollapse::after {
  flex-shrink: 0;
  width: 25px;
  height: 21px;
  margin-left: auto;
  content: "";
  background-image: url(./images/down_arrow.png);
  background-repeat: no-repeat;
}

.btncollapseT::after {
  flex-shrink: 0;
  width: 25px;
  height: 21px;
  margin-left: auto;
  content: "";
  background-image: url(./images/down_arrow.png);
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

.collapse ul li {
  background-color: #f7f7f9;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
  margin: 5px 0 5px 0;
}

.collapse ul li img {
  width: 48px;
  height: 48px;
  margin-right: 3px;
  vertical-align: middle;

  /* text-top, text-bottom, sub, super, middle */
}

.aside-2 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  order: 3;
  width: 100%;
}

.subtitle {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}
