/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* import font */

:root {
  --white: #fff;

  /* white color */
  --purple: #6070ff;

  /* using in tags */
  --black: #000;

  /* black color */
  --purple2: #7f8cff;

  /* using in border of button */
  --bgtag: #ebebff;

  /* using as bg of tags */
  --info: #7a869a;

  /* color of infos text */
  --textColor: #344563;

  /* using as strong infos */
  --activeButton: #2230d2;

  /* when the button is actived */
  --txtFieldColor: #172b4d;

  /* color of the text field  and subtitle */
  --collapsebg: #f7f7f9;
  --collapseborder: #dfe1e6;
  --titlecolor: #091e42;
  --bgColor: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: var(--textColor);
  height: 100%;
  background-color: var(--bgColor);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.item:nth-of-type(1) {
  background-color: var(--white);
  background-image: url(./images/imgbg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 25px 0 25px;
  border-bottom-left-radius: 100px;
}

.item:nth-of-type(3) {
  background-color: var(--white);
  border-top-right-radius: 100px;
}

.item:nth-of-type(4) {
  border-top-left-radius: 100px;
  background-color: #6070ff;
  background-image: url(./images/imgbg-mobile-contact.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--white);
  text-align: center;
  padding: 103px 24px 0 24px;
  height: 779px;
}

.center {
  color: var(--white);
  justify-content: center;
}

.header {
  background-color: var(--white);
  border-bottom: 1px solid #efefef;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 80px;
}

.logo {
  display: inline-block;
  font-size: 60px;
  margin-left: 10px;
  animation: logo 1500ms ease 0s 1 normal forwards;
}

@keyframes logo {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.logo img {
  width: 70px;
  margin: 5px;
}

.nav {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(96, 112, 255, 0.93);
  overflow: hidden;
  max-height: 100%;
  top: 0;
  z-index: 2;
  padding-top: 0;
  transition: max-height 0.5s ease-out;
}

.nav div {
  padding: 25px 40px;
  font-size: 1.7em;
  color: var(--white);
  text-align: right;
  cursor: pointer;
}

.menu a {
  display: block;
  padding: 30px 0 30px 28px;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
}

.menu a:hover {
  background-color: var(--white);
  color: var(--purple);
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 35px 0 0;
}

.hamb-line {
  background: var(--purple);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--purple);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90vh auto auto auto;
}

/* intro */
h1,
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: var(--txtFieldColor);
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
  animation: intro 1500ms ease 0s 1 normal forwards;
}

.h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: var(--txtFieldColor);
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.side-menu:checked ~ .home h1 {
  color: red;
}

h5 {
  font-weight: 500;
  color: var(--purple2);
  flex: none;
  order: 0;
  flex-grow: 0;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tag ul li{
  display: inline;
}

.col ul li,
.link-connect ul li {
  display: inline;
  margin: 10px 10px 0 0;
}

.subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--txtFieldColor);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 12px;
}

.infos {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--info);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 10px;
}

.infos span {
  color: var(--textColor);
}

.paragraph {
  margin: 0;
  flex: none;
  text-align: justify;
  order: 1;
  flex-grow: 0;
  -webkit-animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s both;
  animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

/* about */
.project {
  display: flex;
  flex-flow: row wrap;
  padding: 25px 20px 10px 20px;
}

.project > * {
  padding: 10px;
  flex: 1 100%;
}

.btncollapseT,
.btncollapse {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  width: 100%;
  text-align: left;
  background-color: var(--white);
  border: 0;
  border-bottom: 2px solid var(--collapseborder);
  padding: 15px 10px 15px 0;
}

.btncollapse {
  border: 0;
}

.btncollapse::after {
  flex-shrink: 0;
  width: 25px;
  height: 21px;
  margin-left: auto;
  content: "";
  background-image: url(./images/down_arrow.png);
  background-repeat: no-repeat;
}

.btncollapseT::after {
  flex-shrink: 0;
  width: 25px;
  height: 21px;
  margin-left: auto;
  content: "";
  background-image: url(./images/down_arrow.png);
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

.collapse ul li {
  background-color: var(--collapsebg);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 12px;
  margin: 6px 0 6px 0;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

section.item{
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.achievement {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: var(--white);
  margin: 30px auto;
  border-radius: 25px;
  padding: 15px;
  width: 90%;
}

.achievement>div:first-child{
  border-radius: 8px;
  background-color: var(--white);
  border-style: solid;
  border-width: 6px;
}

.achievement>div>img {
  width: 100%;
}

.achievement>div:last-child{
 padding:15px;
}

.achievement>.col-right>ul {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
  gap: 10px;
}

.achievement>.col-right>ul li{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--purple);
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.closeBtn {
  margin: 0;
  width: 15px;
  float: right;
  cursor: pointer;
}

.achievement .closeBtn {
  display: none;
}

/* popup css */
.see-more{
  width: 200px;
  margin: auto;
}
/* debut section 2 */

.popup .fullPic {
  width: 100%;
}

.popup .step:nth-of-type(3) {
  flex: 9;
  order: 1;
}

.popup .step:nth-of-type(2) {
  flex: 1;
  order: 2;
}

.popup .paragraph,
.popup .step:nth-of-type(4),
.popup .step:nth-of-type(1) {
  flex: 1 100%;
}

.popup .step:nth-of-type(1) {
  background-color: green;
  padding: 10px;
  border-radius: 8px;
  order: 3;
}

.popup .paragraph {
  order: 3;
}

.popup .step:nth-of-type(4) {
  order: 5;
}

/* fin section 2 */

/* contact */
input {
  width: 90%;
  display: inline;
  height: 48px;
  background: var(--white);
  border: 1px solid var(--info);
  border-radius: 8px;
  margin-top: 20px;
  padding: 15px;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
  color: var(--txtFieldColor);
}

input[type=text] {
  margin-top: 52px;
}

textarea {
  height: 170px;
  padding: 15px;
  border: 1px solid var(--info);
  border-radius: 8px;
  margin-top: 18px;
  width: 90%;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
  color: var(--txtFieldColor);
}

form button {
  margin-left: 20px;
}

.btn-popup,
.btnForm,
.btn {
  font-weight: 500;
  font-size: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--purple);
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  height: 48px;
  background: var(--white);
  border: 1px solid var(--purple2);
  border-radius: 8px;
  margin: 15px 10px 10px 0;
  float: left;
}

.btnForm img,
.btn img {
  width: 15px;
}

.collapse ul li img {
  width: 48px;
  height: 48px;
  margin-right: 3px;
  vertical-align: middle;
}

.btn-popup:hover,
.btnForm:hover,
.btn:hover {
  color: var(--white);
  background: var(--purple);
}

.btnForm:active,
.btn:active {
  color: var(--white);
  background: var(--activeButton);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .side-menu,
  .hamb {
    display: none;
  }

  .header {
    background-color: var(--white);
    padding: 0 10% 0 10%;
    display: grid;
    grid-template-columns: 20% 80%;
  }

  .logo {
    height: 80px;
    width: 100%;
  }

  .nav {
    background-color: var(--white);
    position: relative;
    height: 79px;
    max-height: 80px;
    width: 100%;
    top: 0;
    text-align: end;
    display: block;
  }

  .nav div {
    display: none;
  }

  .menu li {
    display: inline-flex;
  }

  .menu a {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--textColor);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .home p{
    font-size: 20pt;
    line-height: 40px;
  }

  .project {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 166px 144px 166px 144px;
  }

  .project > * {
    width: 50%;
  }

  .item:nth-of-type(1) {
    background-color: var(--white);
    background-image: url(./images/imgbg.jpg);
    background-repeat: no-repeat;
    padding: 260px 15% 0 15%;
    border-bottom-left-radius: 100px;
  }

  .achievement {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: start;
    background-color: var(--white);
    margin: 30px auto;
    border-radius: 25px;
    padding: 35px;
    width: 90%;
  }
  
  .achievement>div{
    width: 50%;
  }

  .achievement>div:first-child{
    border-radius: 8px;
    background-color: var(--white);
    border-style: solid;
    border-width: 12px;
  }

  /* popup css */

  /* debut section 2 */
  .bg-popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    overflow: hidden;
    z-index: 1;
    top: 0;
  }

  .popup {
    width: 50%;
    background-color: white;
    margin: 1.5% auto;
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
  }

  .popup .fullPic {
    height: 100%;
  }

  .popup .step:nth-of-type(3) {
    flex: 9;
    order: 1;
  }

  .popup .step:nth-of-type(2) {
    flex: 1;
    order: 2;
  }

  .popup .step:nth-of-type(1) {
    flex: 1 100%;
    padding: 0 10px;
    border-radius: 8px;
    background-color: silver;
    order: 3;
    margin-bottom: 10px;
  }

  .popup .paragraph {
    order: 3;
    flex: 2;
  }

  .popup .step:nth-of-type(4) {
    order: 5;
    padding-top: 5px;
    flex: 1;
  }

  /* fin popup */
  
  .collapse ul {
    display: flex;
    flex-flow: row wrap;
    gap: 6px;
  }
  
  .collapse ul li {
    background-color: var(--collapsebg);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    width: 122px;
    height: 120px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  .item:nth-of-type(4) {
    background-image: url(./images/imgbg-desktop-contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    padding-top: 50px;
    height: 800px;
  }

  .contact-form article {
    margin: 140px 15% 125px 15%;
    padding: 0 116px 0 116px;
  }

  .btnForm {
    margin: 30px auto;
    position: relative;
    left: 45%;
  }

  .item:nth-of-type(3) {
    background-color: var(--white);
    border-top-right-radius: 50px;
  }

  .item:nth-of-type(3) .project {
    display: flex;
    flex-flow: row;
    padding: 0;
    margin: 125px 100px;
  }
}
